body {
    margin:0;
    font-family:Arial;
    background:#0f1e2e;
    color:white;
}

input, button, textarea {
    width:100%;
    padding:10px;
    margin:5px 0;
    border:none;
    border-radius:10px;
}

button {
    background:#3aa0c9;
    color:white;
}

.box {
    padding:15px;
}

.post, .msg {
    background:#2a3b4c;
    padding:10px;
    margin:10px;
    border-radius:10px;
}

.me {
    background:#3aa0c9;
}