
body{font-family:Arial;margin:15px;background:#f4f4f4}
.card{background:#fff;padding:15px;border-radius:12px;margin-bottom:12px}
input,button{width:100%;padding:14px;border-radius:10px}
button{margin-top:8px}
